/* ==========================================================================
   #SEARCH BAR
   ========================================================================== */

/**
 * This is a component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */
 
 .c-title{
   font-weight: 600;
   font-size: $global-heading-tablet;
 }

 .c-divider{
   width: 100%;
   height: 1px;
   background-color: #E0E0E0;
 }
 /* Mobile & Tablet
    ========================================================================== */
 
 @media(max-width:1023px) {}
 
 @media(max-width:650px) {
  .c-title{
    font-size: 22px;
  }
 }
 
 