/* ==========================================================================
   #HEADER
   ========================================================================== */

/**
 * This is a component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */
 
 #header{
   background-color: #fff;
   padding: 15px 0;
 }
 .c-nav__link{
   text-decoration: none;
   transition: all 200ms linear;
   color: $dark-color;
   &:hover{
    transition: all 200ms linear;
    color: $primary-color;
   }
 }
 /* Mobile & Tablet
    ========================================================================== */
 
 @media(max-width:1023px) {}
 
 @media(max-width:650px) {

 }
 
 