
.u-order-first {
  -ms-flex-order: -1;
  order: -1;
}

.u-order-last {
  -ms-flex-order: 13;
  order: 13;
}

.u-order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.u-order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.u-order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.u-order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.u-order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.u-order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.u-order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.u-order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.u-order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.u-order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.u-order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.u-order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.u-order-12 {
  -ms-flex-order: 12;
  order: 12;
}


@media (min-width: 320px) {

  .u-order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .u-order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }

  .u-order-sm-0 {
    -ms-flex-order: 0;
    order: 0;
  }

  .u-order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .u-order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .u-order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .u-order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .u-order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .u-order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .u-order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .u-order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .u-order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .u-order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .u-order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .u-order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }

}

@media (min-width: 768px) {
  

  .u-order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .u-order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }

  .u-order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }

  .u-order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .u-order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .u-order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .u-order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .u-order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .u-order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .u-order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .u-order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .u-order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .u-order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .u-order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .u-order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }

}
@media (min-width: 992px) {
 
  .u-order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .u-order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }

  .u-order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }

  .u-order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .u-order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .u-order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .u-order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .u-order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .u-order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .u-order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .u-order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .u-order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .u-order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .u-order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .u-order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.333333%;
  }

  .offset-lg-2 {
    margin-left: 16.666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.333333%;
  }

  .offset-lg-5 {
    margin-left: 41.666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.333333%;
  }

  .offset-lg-8 {
    margin-left: 66.666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.333333%;
  }

  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  

  .u-order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .u-order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }

  .u-order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }

  .u-order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .u-order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .u-order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .u-order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .u-order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .u-order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .u-order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .u-order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .u-order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .u-order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .u-order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .u-order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }

}